<a name="pagecontent" id="pagecontent"></a>


<div class="sixteen columns clearfix collection_nav">
  <h1>{{ 'customer.register.title' | t }}</h1>
  <div class="feature_divider"></div>
</div>

<div class="section clearfix">
  <div class="six columns offset-by-five">
    <br class="clear" />
    <div id="customer">
      <!-- Create Customer -->
      <div id="create-customer">

        {% render "customer-fields", form_id: "kntL8M" %}
      </div><!-- /#create-customer -->
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Register",
    "class": "register-section",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}

