.custom_added.boost-sd__button {
    width: 100%;
    text-transform: none;
    color: rgb(255, 255, 255);
    border-color: rgb(34, 34, 34);
    background: rgb(34, 34, 34);
    margin: unset;
    margin-left: unset !important;
    padding: 9px;
    height: -moz-fit-content;
    height: fit-content;
}
.boost-sd__product-label--customLabelByTag{
  background-color: blue !important;
}
.boost-sd__header-description {
    color: white;
}
.boost-sd__cart-item-quantity .boost-sd__quantity .boost-sd__button[disabled] {
    border: unset !important;
    background-color: transparent !important;}
.boost-sd__quick-view-quantity .boost-sd__quantity .boost-sd__button[disabled] {
  background-color: transparent !important;
  border: unset !important;}
.boost-sd__quick-view-btn .custom_added.boost-sd__button{
    padding: 9px;
    border-radius: 21px;
}
.modal_for_quantity {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content_for_quantity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close_for_quantity {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_for_quantity:hover,
  .close_for_quantity:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header_for_quantity {
    padding: 2px 5px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body_for_quantity {padding: 15px;}
  
  .modal-footer_for_quantity {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }