.custom_added.boost-sd__button {
    width: 100%;
    text-transform: none;
    color: rgb(255, 255, 255);
    border-color: rgb(34, 34, 34);
    background: rgb(34, 34, 34);
    margin: unset;
    margin-left: unset !important;
    padding: 9px;
    height: -moz-fit-content;
    height: fit-content;
}
.boost-sd__product-label--customLabelByTag{
  background-color: #648390 !important;
}
body.collection .boost-sd__product-filter-fallback {
  width: 100%;
  max-width: 100%;
}
body.collection .boost-sd__filter-block .boost-sd__header-image{
  max-height: 750px;
  min-height: 300px;
  opacity: 1;
}
body.collection .boost-sd__header-main-2-content{
  display: flex;
    padding: var(--dimensions-spacing-xlg, 48px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    opacity: 0.85;
    background: #648390;
    margin: 24px 0;
}
body.collection .boost-sd__collection-header .boost-sd__header-title{
  color: var(--theme-text-shade-inverse, #FFF);
text-align: center;
font-family: "Superior Title";
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: 54px;
letter-spacing: -0.76px;
}
body.collection .boost-sd__header-main-2{
  min-height: 300px;
  max-height: 750px;
}
body.collection .boost-sd-layout--has-filter-horizontal{
width: 100%;
max-width: 100%;
padding: 36px 80px 0;
margin: unset;
}
body.collection .boost-sd__filter-tree-horizontal-option-list{
  border: unset;
  padding: unset;
  display: flex;
align-items: flex-start;
gap: 48px;
}
body.collection .boost-sd__toolbar-item.boost-sd__toolbar-item--view-as {
  display: none;
}
body.collection .boost-sd__toolbar-container .boost-sd__toolbar-inner {
  width: 100%;
  max-width: 100%;
}
body.collection .boost-sd__toolbar-container .boost-sd__toolbar--3_1 .boost-sd__toolbar-item:nth-child(2) {
  justify-content: left;
}
body.collection .boost-sd__toolbar-container .boost-sd__toolbar-content{
  padding: 28px 0 16px;
  max-width: 100% !important;
}
body.collection .boost-sd__toolbar-container .boost-sd__toolbar-item.boost-sd__toolbar-item--product-count .boost-sd__product-count{
  color: #000;
  font-family: "General Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
}
body.collection .boost-sd__toolbar-container .boost-sd__sorting-button .boost-sd__sorting-label, body.collection .boost-sd__toolbar-container .boost-sd__sorting-button .boost-sd__sorting-value{
  color: #000;
  font-family: "General Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
}
body.collection .boost-sd__toolbar-container{
  margin: unset;
}
body.collection .boost-sd__filter-option-label--inline-block .boost-sd__filter-option-title{
  display: flex;
    align-items: center;
    gap: 16px;
    padding: unset;
    color: var(--Black, #262626);
font-family: "General Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
text-transform: capitalize;
}
body.collection .boost-sd__filter-option-label--inline-block{
  margin-bottom: unset;
  margin-right: unset;
}
.boost-sd__filter-option--horizontal:not(.boost-sd__filter-option--style-expand) .boost-sd__filter-option-icon{
  position: static;
  right: unset;
  top: unset;
}
body.collection .boost-sd__header-description {
  color: var(--theme-text-shade-inverse, #FFF);
  text-align: center;
  font-family: "General Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin: unset;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

body.collection .boost-sd__header-description div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

body.collection .boost-sd__header-description:empty, body.collection .boost-sd__header-description div:empty, body.collection .boost-sd__header-description br {
  display: none;
}
.boost-sd__cart-item-quantity .boost-sd__quantity .boost-sd__button[disabled] {
    border: unset !important;
    background-color: transparent !important;}
.boost-sd__quick-view-quantity .boost-sd__quantity .boost-sd__button[disabled] {
  background-color: transparent !important;
  border: unset !important;}
.boost-sd__quick-view-btn .custom_added.boost-sd__button{
    padding: 9px;
    border-radius: 21px;
}
.modal_for_quantity {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content_for_quantity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close_for_quantity {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_for_quantity:hover,
  .close_for_quantity:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header_for_quantity {
    padding: 2px 5px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body_for_quantity {padding: 15px;}
  
  .modal-footer_for_quantity {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .boost-sd__product-image-wrapper {
    aspect-ratio: 1/1 !important;
  }

  .boost-sd__product-info {
    text-align: center !important;
  }

  .product_gallery img{
    aspect-ratio: 1/1 !important;
  object-fit: contain;
  }

  .product-description {
    margin-bottom: 12px;
  }

  .details_product {
    color: #000;
    text-align: left;
    margin-bottom: 20px;
  }