.logo_wrapper a{
    width: 136px;
    height: 91px;
    display: block;
    background-blend-mode: luminosity;
  background-size: contain !important;
}
.logo_wrapper a:hover{
    background-blend-mode: normal;
    background-color: transparent !important;
}
.rca_logo_section {
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 48px 80px 80px;
}
.left-animate {
    width: 80px;
    height: 187px;
    position: absolute;
    left: 0;
    z-index: 9;
}
.right-animate {
    width: 80px;
    height: 187px;
    position: absolute;
    right: 0;
    z-index: 9;
}
#logos_section {
    width: 100%;
    height: 91px;
}
.logos_section {
    width: 100%;
    display: flex;
    gap: 120px;
    position: relative;
    height: 91px;
}
.logos_section .logo_wrapper{
    position: absolute;
    padding: 0 60px;
}
@media (max-width: 768px) {
    .logo_wrapper a{
        width: 100px;
        height: 67px;
    }
    .logos_section {
        gap: 40px;}
        .logos_section .logo_wrapper{
            padding: 0 20px;
        }
        .rca_logo_section {
            padding: 28px 16px 0px;
        }
}